<?php
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => \Doctrine\DBAL\Driver\Mysqli\Driver::class,
                'params' => [
                    'host' => 'mysqldb',
                    'port' => '3306',
                    'user' => 'root',
                    'password' => '',
                    'dbname' => '',
                    'charset' => 'utf8mb4',
                ],
            ],
        ],
        'migrations_configuration' => [
            'orm_default' => [
                'table_storage' => [
                    'table_name' => 'DoctrineMigrationVersions',
                    'version_column_name' => 'version',
                    'version_column_length' => 1024,
                    'executed_at_column_name' => 'executedAt',
                    'execution_time_column_name' => 'executionTime',
                ],
                'migrations_paths' => [
                    'Application' => './data/DoctrineORMModule/Migrations',
                ],
                'migrations' => [], // an array of fully qualified migrations
                'all_or_nothing' => false,
                'check_database_platform' => true,
                'organize_migrations' => 'year', // year or year_and_month
                'custom_template' => null,
            ],
        ],
        'authentication' => [
            'orm_default' => [
                'objectManager' => 'doctrine.entitymanager.orm_default',
                'identityClass' => 'Base\\Entity\\User',
                'identityProperty' => 'username',
                'credentialProperty' => 'password',
                'credentialCallable' => 'Base\\Entity\\UserRepository::hashPassword',
            ],
        ],
        'encryption' => [
            'orm_default' => [
                'key' => '',        // Must be 32 characters - Halite requirement
            ],
        ],
        'hashing' => [
            'orm_default' => [
                'pepper' => '',     // Must be 32 characters - Halite requirement
                'key' => '',        // Must be 32 characters - Halite requirement
            ],
        ],
    ],
];
