<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * NOTE: This file is ignored from Git by default with the .gitignore included
 * in laminas-mvc-skeleton. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
    'phpSettings' => [
        'session.save_handler' => 'redis',
        'session.save_path' => 'tcp://redis:6379?auth=設定密碼',
        'session.cookie_httponly' => true,
        'max_execution_time' => 60,
        'date.timezone' => 'Asia/Taipei',
        'memory_limit' => '256M',
        'session.gc_maxlifetime' => 60 * 60,   // 控制 session 有效期 (單位:秒), 預設1小時
    ],
    'session_config' => [
        'remember_me_seconds' => 60 * 60,   // 指定在清除數據之前記住會話的時間 (單位:秒), 預設1小時
        'name' => 'cc_session',
    ],
    'session_manager' => [
        'validators' => [
            \Laminas\Session\Validator\RemoteAddr::class,
            // \Laminas\Session\Validator\HttpUserAgent::class,
        ],
    ],
    'session_storage' => [
        'type' => \Laminas\Session\Storage\SessionArrayStorage::class,
    ],
];
