<?php

return [

    'memcached-server' => [
        'adapter' => 'memcached',
        'lifetime' => 7200,
        'plugins' => [
            'exception_handler' => [
                'throw_exceptions' => false
            ],

        ],
        'options' => [
            'namespace' => 'default_cache',
            'servers'   => [
                [
                    'memcached',11211
                ],
            ],
            'liboptions' => [
                'COMPRESSION' => true,
                'binary_protocol' => true,
                'no_block' => true,
                'connect_timeout' => 100
            ]

        ],
    ]

];
